<div class="row">
  <div class="col-md-6">
    <form class="group-form">
      <mat-form-field>
        <mat-label>Nom du groupe</mat-label>
        <input matInput [(ngModel)]="group.groupName" name="name">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Origine</mat-label>
        <input matInput [(ngModel)]="group.origin" name="origin">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Ville</mat-label>
        <input matInput [(ngModel)]="group.city" name="city">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Fondateurs</mat-label>
        <input matInput [(ngModel)]="group.founders" name="founders">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Membres</mat-label>
        <input matInput [(ngModel)]="group.membersNumber" type="number" name="members">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Courant musical</mat-label>
        <input matInput [(ngModel)]="group.genre" name="genre">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Date de naissance</mat-label>
        <input matInput [matDatepicker]="picker1" [(ngModel)]="group.startYear" name="startYear">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Année séparation</mat-label>
        <input matInput [matDatepicker]="picker2" [(ngModel)]="group.endYear" name="endDate">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </form>
  </div>
</div>
