<div class="container mx-auto my-4">
  <h1 class="text-center mb-4">{{ group.id ? 'Modifier' : 'Créer' }} un groupe</h1>

  <div class="flex flex-row">
    <div class="flex-1 mr-4">
      <app-group-form [group]="group" (save)="onSave($event)" (cancel)="onCancel()"></app-group-form>
    </div>
    <div class="flex-1">
      <div>
        <h2 class="text-center mb-4">Aperçu du groupe</h2>
        <app-group [group]="group" [showEdit]="false"></app-group>
      </div>
    </div>
  </div>

  <div class="flex justify-center my-4">
    <button  mat-button color="success" (click)="onSave(group)" [disabled]="isLoading">
      <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-2"></span>
      Enregistrer
    </button>
    <button  mat-button color="accent" (click)="onCancel()">Annuler</button>
  </div>
  <div *ngIf="isLoading" class="flex justify-center">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Chargement en cours...</span>
    </div>
  </div>
</div>
