<!-- Upload form -->
<form class="grid grid-cols-1 md:grid-cols-4 gap-4 items-center">
  <input id="file" style="display: none;" type="file" #hiddenPicker onclick="this.value = null" (change)="handleFileInput($event)">
  <button mat-raised-button color="primary" (click)="openFileExplorer()" [disabled]="isUploading">
    <span *ngIf="isUploading" class="spinner-border spinner-border-sm" role="status"></span>
Charger votre fichier
  </button>
  <div *ngIf="!(isLoading | async)" class="col-span-full loader">
    <mat-spinner diameter="25"></mat-spinner>
  </div>
</form>

<!-- Groups list -->
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mt-3">
  <ng-container *ngIf="groups && groups.length > 0; else noGroups">
      <app-group *ngFor="let group of groups"  [group]="group" [showEdit]="true"></app-group>
  </ng-container>
  <ng-template #noGroups>
    <p *ngIf="isLoading | async">No groups found.</p>
  </ng-template>
</div>
