.example-card {
  max-width: 400px;
  margin: auto;
}

li {
  margin-bottom: 5px;
}

mat-card-header {
  justify-content: center;
   margin-bottom: 10px;
}
mat-card-actions {
  flex-direction: row-reverse;
}
