<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{ group.groupName }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ul class="list-group">
      <li class="list-group-item"><strong>Origine :</strong> {{ group.origin ? group.origin : '' }}</li>
      <li class="list-group-item"><strong>Ville :</strong> {{ group.city ? group.city : '' }}</li>
      <li class="list-group-item"><strong>Période :</strong> {{ getYearRange() }}</li>
      <li class="list-group-item"><strong>Fondateurs :</strong> {{ group.founders ? group.founders : ' -- ' }}</li>
      <li class="list-group-item"><strong>Membres :</strong> {{ group.membersNumber ? group.membersNumber : ' -- ' }}</li>
      <li class="list-group-item"><strong>Courant musical :</strong> {{ group.genre ? group.genre : '' }}</li>
      <li class="list-group-item" *ngIf="group.presentation"><strong>Présentation :</strong> {{ group.presentation }}</li>
    </ul>
  </mat-card-content>
  <mat-card-actions *ngIf="showEdit">
    <button mat-button [routerLink]="'/groups/' + group.id + '/edit'">Edit</button>
  </mat-card-actions>
</mat-card>
